body {
    background-color: #D8D8D8 !important;
    box-sizing: border-box;
}

/* header {
    z-index: 1;
    position: fixed;
} */

section {
    margin: 10px 15px;
}

.navbar {
    display: flex;
    align-items: center;  
    justify-content:left;
    height: 65px;
    background-color: white;
    margin-bottom: 10px;
    
}

.inputbox{
    border: none;
    border-radius: 5px;
    width: 500px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 40px;
    padding: 5px;
    border: none;
    background-color: #ccf3fd;
    border-radius: 10px;
    
}

.inputbox i {
    width: 32px;
    height: 30px;
    font-size: 30px;
    margin: 5px;
    color: grey;
}

.inputbox input {
    background-color: #ccf3fd;
    border: none;
    outline: none;
}

.login-detail {
    width: 110px;
    background-color: white;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-size: 15px; */
    color: black;
}

.login-detail p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-detail i {
    width: 30px;
    height: 30px;
    font-size: 27px;
    margin: 5px;
    color: black;
}

.cart-detail {
    width: 110px;
    background-color: white;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-size: 15px; */
    color: black;
}

.cart-detail i {
    width: 30px;
    height: 30px;
    font-size: 27px;
    margin: 5px;
    color: black;
}

.seller-detail {
    width: 200px;
    background-color: white;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-size: 15px; */
    color: black;
}

.seller-detail i {
    width: 30px;
    height: 30px;
    font-size: 27px;
    margin: 5px;
    color: black;
}

.extra-detail i {
    width: 30px;
    height: 30px;
    font-size: 27px;
    margin: 5px;
    color: black;
}

.products-category {
    width: 100%;
    height: 130px;
    background-color: white;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.products-category .card {
    width: auto;
    min-width: 120px;
    max-height: 110px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.products-category img {
    height: 60px;
    width: 60px;
    transition: 0.2s;
}

.products-category .card:hover img {
    height: 55px;
    width: 55px;
}

.products-category .card:hover {
    /* background-color: #2874f0; */
    background-color: rgb(238, 238, 238);
    color: #2874f0;
}

.card-body h4 {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.slider button {
    background-color: black;
    height: 100px;
    width: 40px;

}

/* .smartphone-ext {
    justify-content: space-between;
} */

.smartphone-ext a {
    width: 100%;
    height: 70px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.best-deals {
    width: 83%;
    height: 280px;
    background-color: white;
    /* display: inline-flex; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    overflow-x: scroll;
    margin-bottom: 10px;
}

.deals-detail {
    overflow-x: scroll;
}

.deals-detail a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.deals-detail .card {
    width: 190px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.deals-detail img {
    width: 100px;
    height: 130px;
    
}

.individual-ad {
    flex-wrap: wrap;
    display: flex;
}

.individual-ad a {
    height: auto;
    width: 420px;
}


/* ---------VERTICAL ADS---------- */


.vertical-ad {
    background-color: white;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 100%;
}

.verti-individual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.vertical-ad .vertical-ext a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.verti-individual a {
    text-decoration: none;
    color: black;
}
.verti-individual .card{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.vertical-ad .verti-individual img {
    width: 170px;
    height: auto;
}


/* --------LAST INFORMATION SECTION------- */

.flip-info {
    margin-bottom: 30px;
}

.flip-info p {
    font-size: 13px;
    text-align: justify;
    margin: 10px;
}

.flip-info h5{
    font-size: 17px;
    text-align: justify;
    margin: 10px;
}


/* -----------FOOTER------------ */

.footerend {
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 19px;
}

.footerend h5 {
    color: gray;
    font-size: 13px;
}

.foot-detail1 {
    width: 700px;
    height: 80%;
    
}

.dtl1 div {
    margin-right: 30px;
}

.dtl2 div {
    margin-right: 25px;
}

.dtl2 i {
    font-size: 25px;
    margin: 0 5px;
}

