
/* header {
    margin-bottom: 90px;
} */



header .navbar .navbar-brand {
    font-weight: bold;
}

.hero {
    height: 100vh;
    min-height: 700px;
    margin-top: 90px;
    position: relative;
}
/* 
.hero .image-hero {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    min-height: 700px;
    background-position:top center;
    background-repeat: no-repeat;
    z-index: 1;
} */

.image-hero img{
    width: 700px;
    height: 500px;
    object-fit: cover;

}